__pycache__/
*.py[cod]
*.egg-info/
.env
cache/
.venv/
venv/
*.log
deploy.sh
data/
release.env
*.tar
.tmp/
/.idea/dataSources.xml

deploy/douyin-parser/.release.local.env
deploy/douyin-parser/.env.prod
